[submodule "Vulkan-Hpp"]
	path = Vulkan-Hpp
	url = git@github.com:KhronosGroup/Vulkan-Hpp.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/Vulkan-Hpp"]
	path = external/Vulkan-Hpp
	url = git@github.com:KhronosGroup/Vulkan-Hpp.git
